- body_heading('Question')
= nav_links link_to('Home', root_path, :class => 'span-1'),
  @question.next_question ? link_to('Next Question', question_path(@question.next_question)) : ''

%h1= "Question: #{@question.question}"