- body_heading('Question</br></br>(347) 535-5118')
= nav_links link_to('Home', root_path, :class => 'span-1'),
  @question.next_question ? link_to('Next Question', question_path(@question.next_question)) : link_to('Show Answers', answers_questions_path)

%h1= "Question: #{@question.question}"
%ol
  - @question.answers.each do |answer|
    %h2.prepend-1
      %li{:value => answer.position}= answer.answer