- body_heading 'Quiz</br></br>(347) 535-5118'
= nav_links link_to('Questions', questions_path, :class => 'span-2'),
            @has_questions ? link_to('Start Quiz', start_path, :class => 'span-2') : ''